<div class="container">
  <div class="jumbotron text-justify">
    <h1>Inscripción a medios de pago</h1>
    <p>A continuación debe completar toda la información requerida para su
      inscripción en los sistemas de medios de pago.</p>
    <p>Por favor tenga a la mano su documento de identidad, el certificado de
      Cámara de Comercio de su negocio, (si tiene) y el RUT.  Así mismo la
      información (nombre, NIT, direccion y teléfono) de dos referencias
      comerciales y de dos referencias personales.</p>
    <p>Al finalizar el proceso se generará un archivo pdf con los cinco (5)
      formatos requeridos llenos. </p>
  </div>
  <%= link_to "Continuar", new_solicitud_path, class: "btn btn-success btn-lg pull-right" %>
</div>